@font-face {
    font-family: 'FC Iconic';
    src: url('fonts/FCIconic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}




body {
    font-family: FC Iconic,Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(270deg, #00264B, #005F99, #00264B);
    background-size: 600% 600%;
    animation: BackgroundAnimation 10s ease infinite;
}

@keyframes BackgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

header {
    margin-bottom: 20px;
}

.header-image {
    width: 100%;
    max-width: 25%;
    height: auto;
    border-radius: 10px;
}

h1 {
    font-size: 1em;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
}

.btn-random {
    background-color: #007bff;
    color: #fff;
}

.btn-random:hover {
    background-color: #0056b3;
}

.btn-question {
    background-color: #28a745;
    color: #fff;
}

.btn-question:hover {
    background-color: #218838;
}

.btn-answer {
    background-color: #ffc107;
    color: #fff;
}

.btn-answer:hover {
    background-color: #e0a800;
}

.btn-reset {
    background-color: #dc3545;
    color: #fff;
}

.btn-reset:hover {
    background-color: #c82333;
}

#random-number-display {
        font-size: 2em;
    }

#question-display {
    margin-top: 20px;
     font-size: 2em;
    font-weight: bold;
    color: #333;
}
 #answer-display {
    margin-top: 16px;
     font-size: 2em;
    font-weight: bold;
    color: #0d5302;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    button {
        margin-top: 20px;
        padding: 8px 16px;
        font-size: 14px;
    }

    .header-image {
        max-width: 20%;
    }
}
